[submodule "open-design"]
	path = open-design
	url = https://github.com/nexu-io/open-design.git
[submodule "projects/worldmonitor"]
	path = projects/worldmonitor
	url = https://github.com/koala73/worldmonitor.git
